body{
  background-image: linear-gradient(to right, rgba(198, 212, 198, 0.945), rgb(255, 255, 255), rgba(198, 212, 198, 0.945));;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  height: 65%;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 20px;
  background-color: rgba(200, 117, 117, 0.8);
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  margin-right: 15px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(228, 141, 141, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  background-color: rgba(200, 117, 117, 0.8);
  border-radius: 20px;
  color: #094b09;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  height: 50px;
  margin-top: -17px;
  border-radius: 10px;
  background-color: #222;
  padding: 20px 16px;
  color: white;
  margin-left: -16px;
  width: 102.9%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#factimage{
height: 100%;
width: 102.75%;
margin-left: -15px;
border-radius: 10px;
}

@media only screen and (orientation: portrait) and (min-width: 1in) and (max-width: 8in) {
  .container {
    position: static;
    height: 35%;
    margin-top: 100px;
    border: 1px solid black;
  }
}