
body {
    background-image: white;
    font-family: verdana;
}

#title{
    background-color: rgba(135, 245, 125, 0.5);
    border-radius: 10px;
    border: 2px solid rgb(68, 78, 62);
    height: 200px;
}
div.transbox {
  margin: 10px;
  background-image: linear-gradient(to right, rgba(220, 226, 241, 0.945) , rgba(216, 240, 219, 0.863));;
  border: 1px solid black;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 10px;
}
div.transbox p {
  margin: 3%;
}

#homebox{
  background-color: rgb(144, 235, 144);
  width: 1300px;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(129, 162, 255, 0.274) , rgba(160, 253, 172, 0.308));

}
#hometext{
  font-size: 4em;
}
.header{
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
}
#scroll {
  margin-top: -20px;
}

.long{
  width: 100%;
  height: 110%;
  background-image: linear-gradient(rgb(253, 245, 253), rgb(236, 255, 234));
  margin-left: auto;
  margin-right: auto;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 500px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  width: 70%;
  transition: max-height 0.2s ease-out;
}

#button1{
  background-color:rgb(255, 253, 253);
  width: 320px;
  height: 60px;
  font-size: 25px;
  border-radius: 10px;
  transition: border-radius 0.5s, width 0.5s, font-size 0.5s, background-color 0.5s;
}
#button1:hover {
  background-color: rgb(250, 237, 228);
  font-size: 1.2em;
  width: 500px;
  border-radius: 12px;
}