
body {
    background-image: white;
    font-family: verdana;
}

#boxtext{
  
}

#headerimage{
  margin-top: 10px;
}

#title{
    background-color: rgba(135, 245, 125, 0.5);
    border-radius: 10px;
    border: 2px solid rgb(68, 78, 62);
    height: 200px;
}
#heading{
  background-image: url('https://mdbootstrap.com/img/new/slides/041.jpg');
  height: 105%;
  margin-top: -80px;
  z-index: 1;
  background-size: 118%;
  background-repeat: no-repeat;
  
}
div.transbox {
  margin: 10px;
  background-image: linear-gradient(to right, rgba(220, 226, 241, 0.945) , rgba(216, 240, 219, 0.863));;
  border: 5px solid black;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 10px;  
}
#transboxbox{

}


div.transbox p {
  margin: 5%;
  font-weight: bold;
}

#homebox{
  background-color: rgb(144, 235, 144);
  width: 600px;
  height: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 4px solid black;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(129, 162, 255, 0.274) , rgba(160, 253, 172, 0.308));

}
#hometext{
  font-size: 4em;
}
.header{
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
}
#scroll {
  margin-top: -20px;
}




